# macOS System Files
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
*.swp

# Xcode
build/
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods (if used)
Pods/

# Fastlane (if used)
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output


# Xcode workspace settings
*.xcworkspace
!default.xcworkspace

# SwiftPM resolved file
Package.resolved

# Archives
*.xcarchive

# IPA files
*.ipa
